@import './variables';

* {
    font-family: $primary-font;
    font-weight: 400;
    color: white;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

    section {
        height: 100vh;
        background: linear-gradient(45deg, $purple, $skyblue);

        .score {
            height: 20vh;
            display: flex;
            justify-content: space-around;
            align-items: center;

            h2 {
                font-size: 2rem;
            }

            p {
                text-align: center;
                padding: 10px;
                font-size: 25px;
            }
        }

        .intro {
            height: 50vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            transition: opacity 400ms ease;
        
            h1 {
                font-size: 3rem;
            }

            button {
                width: 150px;
                height: 50px;
                background: none;
                border: none;
                font-size: 1.5rem;
                background-color: $skyblue;
            }
        }

        .match {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: opacity 400ms ease 400ms;

            .winner {
                text-align: center;
                font-size: 3rem;
            }

            .options {
                button {
                    width: 150px;
                    height: 50px;
                    background: none;
                    border: none;
                    font-size: 1.5rem;
                    background-color: $skyblue;
                }
            }

            .hands {
                .player-hand {
                    transform: rotateY(180deg)
                }
            }

            .hands, .options {
                display: flex;
                justify-content: space-around;
                align-items: center;
            }
        }
    }
}

div.fadeOut {
    opacity: 0;
    pointer-events: none;
}

div.fadeIn {
    opacity: 1;
    pointer-events: all;
}

@keyframes shakePlayer {
    0% {
        transform: rotateY(180deg) translateY(0px)
    }
    15% {
        transform: rotateY(180deg) translateY(-50px)
    }
    25% {
        transform: rotateY(180deg) translateY(0px)
    }
    35% {
        transform: rotateY(180deg) translateY(-50px)
    }
    50% {
        transform: rotateY(180deg) translateY(0px)
    }
    65% {
        transform: rotateY(180deg) translateY(-50px)
    }
    75% {
        transform: rotateY(180deg) translateY(0px)
    }
    85% {
        transform: rotateY(180deg) translateY(-50px)
    }
    100% {
        transform: rotateY(180deg) translateY(0px)
    }
}

@keyframes shakeComputer {
    0% {
        transform: translateY(0px)
    }
    15% {
        transform: translateY(-50px)
    }
    25% {
        transform: translateY(0px)
    }
    35% {
        transform: translateY(-50px)
    }
    50% {
        transform: translateY(0px)
    }
    65% {
        transform: translateY(-50px)
    }
    75% {
        transform: translateY(0px)
    }
    85% {
        transform: translateY(-50px)
    }
    100% {
        transform: translateY(0px)
    }
}
